<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>pywebhook</title>
</head>
<body>
    <div class="flex gap-2 min-h-screen bg-gray-800 justify-center items-center text-center text-3xl text-white font-base">
        <div class="flex gap-2 justify-center items-center">
            <span class="text-sm">🟢</span> <p>app is running</p>
        </div>
    </div>
</body>
</html>