<!DOCTYPE html>
<html>
<head>
    <title>Logs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex flex-col my-12 p-5 justify-center items-center">

        <h1 class="font-semibold text-2xl mb-3">Eventos Capturados</h1>

        <div class="flex flex-col gap-3 pb-8">
            <form method="GET" action="{{ url_for('filtro_data') }}">
                <label for="data_filtrada" class="block text-gray-500 text-black text-lg">Filtrar por data:</label>
                <input type="date" id="data_filtrada" name="data_filtrada" class="px-2 py-1 border border-gray-300 rounded">
                <button type="submit" class="btn btn-primary p-2 rounded-xl bg-green-500 hover:bg-green-700 text-white font-semibold text-sm">Filtrar</button>
            </form>
    
            <form method="GET" action="{{ url_for('filtro_status') }}">
                <label for="status_filtrado" class="block text-gray-500 text-black text-lg">Filtrar por status:</label>
                <select id="status_filtrado" name="status_filtrado" class="px-2 py-1 border border-gray-300 rounded">
                    <option value="paid">Pagos</option>
                    <option value="waiting_payment">Pendentes</option>
                    <option value="refused">Recusados</option>
                </select>
                <button type="submit" class="btn btn-primary p-2 rounded-xl bg-green-500 hover:bg-green-700 text-white font-semibold text-sm">Filtrar</button>
            </form> 
        </div>

       <div class="my-7">
            <h3 class="text-gray-500 text-xl">Total em vendas: <span class="text-green-500 font-bold">R$ {{ total_vendas }}</span> </h3>
       </div>
        

        <table class="bg-gray-100 text-center shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
            <tr>
                <th class="px-5 py-2 text-gray-700 font-bold">D&H</th>
                <th class="px-5 py-2 text-gray-700 font-bold">Preco</th>
                <th class="px-5 py-2 text-gray-700 font-bold">Nome</th>
                <th class="px-5 py-2 text-gray-700 font-bold">Status</th>
            </tr>
            {% for log in logs %}
            <tr>
                <td class="px-5 text-sm py-2 text-gray-700">{{ log['data_logs' ]}}<br/>{{ log['hora_evento'] }}</td>
                <td class="px-5 text-sm py-2 text-gray-600">{{ log['preco'] }}</td>
                <td class="px-5 text-sm py-2 text-gray-600">{{ log['nome'] }}</td>
                {% if log['status_pagamento'] == 'paid' %}
                <td class="px-5 text-sm py-2"><p class="text-green-500 font-semibold p-1 rounded-xl bg-green-200">Paid</p></td>
                {% elif log['status_pagamento'] == 'waiting_payment' %}
                <td class="px-5 text-sm py-2"><p class="text-orange-500 font-semibold p-1 rounded-xl bg-orange-200">pendente</p></td>
                {% else %}
                <td class="px-5 text-sm py-2"><p class="text-red-500 font-semibold p-1 rounded-xl bg-red-200">Refused</p></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>      
        
    </div>
</body>
</html>
